.print-cv-header {
  height: 1in;
}

.print-cv-summary {
  height: 0.6in;
}

.print-cv-t-skills {

}

.print-cv-s-skills {

}

.print-cv-open-source {

}

.print-cv-exp {
  height: 1.2in;
}

.print-cv-exp-2 {

}

.print-cv-edu {
  height: 1in;
}