.toc ul {
  padding-left: 40px;
  margin-bottom: 0;
}

.anchorjs-link {
  background-color: #fafafa !important;
  color: red !important;
}

strong {
  font-size: 1.1em;
}

.unit-article blockquote {
  border-left: 1em solid #5F021F;
}

.clearfix {
  overflow: auto;
}

.series {
  position: relative;
  padding-top: 30px;
}

.series > a {
  background-color: #4f8486!important;
  color: white!important;

  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  font-size: .9em;
  border-radius: 0 0 0 10px;
  border: 0!important;
  padding: 0 .5em!important;
  text-shadow: none;
}

.series > a:hover {
  background-color: black!important;
  color: white!important;
}

div.postTitle {
  background-color: cadetblue!important;
  text-align: center;
}

div.postTitle > a {
  color: #000!important;
  background-color: cadetblue!important;
  border: 0!important;
  display: inline;
  padding: 0 .5em!important;
  text-shadow: none;
}

div.postExcerpt {
  border-style: solid;
  border-width: 8px;
  border-color: cadetblue;
  padding: 0 0 10px 10px;
  margin-bottom: 30px;
}

div.postExcerpt img {
  float: left;
  padding: 35px 30px 60px 30px;
  width: 150px;
}

ul.posts {
  list-style: none;
}
div.seriesNote {
  border: 4px solid;
  border-radius: 10px;
  padding: 12px;
  background-color: burlywood;
}

div.seriesNote ul {
  margin-bottom: 1px;
}

div.seriesNote li.selected {
  font-weight: bold;
  background-color: darkseagreen;
}
.sp-circle {
  border: 4px rgba(0, 0, 0, 0.25) solid;
  border-top: 4px black solid;
  border-radius: 50%;
  -webkit-animation: spCircRot .6s infinite linear;
  animation: spCircRot .6s infinite linear;
  width: 32px;
  height: 32px;
  margin-left: auto;
  margin-right: auto;
}
@-webkit-keyframes spCircRot {
	from { -webkit-transform: rotate(0deg); }
	to { -webkit-transform: rotate(359deg); }
}
@keyframes spCircRot {
	from { transform: rotate(0deg); }
	to { transform: rotate(359deg); }
}
.pagination ul > li {
  border-top: 0;
  padding: 0;
  margin: 0;
}
.pagination ul > li:before {
  display:none;
}
div.highlight pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 24px;
  line-height: 1.42857143;
  word-break: break-all;
  word-wrap: break-word;
  border-radius: 4px;
  font-size: 14px;
  color: #d0d0d0;
  border: 1px solid #ccc;
  border-radius: 4px;
}
code {
  white-space: nowrap;
}
div.highlight pre code {
  display: block;
  white-space: pre;
  overflow-x: auto;
  word-wrap: normal;
  color: inherit;
  background-color: transparent;
}
/* Make line numbers unselectable: excludes line numbers from copy-paste user ops */
.highlight .lineno {-webkit-user-select: none;-moz-user-select: none; -o-user-select: none;}
.lineno::-moz-selection {background-color: transparent;}/* Mozilla specific */
.lineno::selection {background-color: transparent;} /* Other major browsers */
.lineno { color: #868282; display:inline-block; padding: 0 5px; border-right:1px solid #ccc; }

.highlight::-moz-selection {
  background: #757575;
  text-shadow: none;
}
.highlight::selection {
  background: #757575;
  text-shadow: none;
}
.languageSelector a.alink {
  text-decoration: underline;
  color: #ad4346;
}
.languageSelector a.alink:hover {
  text-decoration: none;
  color: #ad4346;
}
